.seatSelectionApp {
    background-image: url(../img/bgmovie.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    overflow-y: auto;
    font-family: 'PT Serif', serif;
}

.seatSelectionApp .container {
    padding: 3rem 0;
}

.seatSelectionApp .container .app__title {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 2.8rem;
}

.seatSelectionApp .container .appContent {
    text-align: center;
    width: 80%;
    height: auto;
    background: rgba(128, 128, 128, 0.8);
    margin: 3rem auto;
    color: white;
}

.btnCustom .btn {
    text-transform: capitalize;
    font-size: 1.2rem;
}

.seatSelectionApp .container .appContent .userInfo  .app__subTitle {
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.seatSelectionApp .container .appContent .userInfo .user__inputGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.seatSelectionApp .container .appContent .userInfo .app__text {
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 1.2rem;
}

.seatSelectionApp .container .appContent .userInfo .user__inputGroup .user__input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seatSelectionApp .container .appContent .userInfo .app__text span {
    color: red;
}

.seatSelectionApp .container .appContent .userInfo .user__inputGroup .user__input input {
    margin-left: 1rem;
    height: 2.2rem;
    background: transparent;
    border: 1px solid white;
}

.seatSelectionApp .container .appContent .userInfo p:nth-child(3) {
    margin: 1rem 0;
    font-size: 1rem;
    font-style: italic;
    color: bisque;
}

.seatSelectionApp .container .appContent .userInfo .btnCustom .btn {
    text-transform: capitalize;
    font-size: 1.2rem;
}

.seatSelectionApp .container .appContent .seatSelection {
    padding: 3rem 0;
}

.seatSelectionApp .container .appContent .seatSelection .app__subTitle {
    background-color: #FFA33C;
    color: black;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.seatSelectionApp .container .appContent .seatSelection .seat__note {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.seatSelectionApp .container .appContent .seatSelection .seat__note .note__item .app__text {
    margin-bottom: 0;
    display: inline;
    position: relative;
    text-transform: capitalize;
}

.seatSelectionApp .container .appContent .seatSelection .seat__note .note__item .app__text::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    background: black;
    left: -35px;
    top: 0;
}

.seatSelectionApp .container .appContent .seatSelection .seat__note .note__item .app__text.empty::before {
    width: 30px;
    height: 24px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: white;
}

.seatSelectionApp .container .appContent .seatSelection .seat__note .note__item .app__text.selected::before {
    background: #65B741;
    width: 30px;
    height: 24px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.seatSelectionApp .container .appContent .seatSelection .seat__note .note__item .app__text.reserved::before {
    background: #BE3144;
    width: 30px;
    height: 24px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.seatSelectionApp .container .appContent .seatSelection .seat__chart {
    margin: 3rem 0;
    margin-bottom: 0;
}

.seatSelectionApp .container .appContent .seatSelection .seat__chart .seat__screen {
    width: 80%;
    margin: 0 auto;
    border-bottom: 50px solid #FFA33C;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    height: 0;
    text-transform: uppercase;
    position: relative;
}

.seatSelectionApp .container .appContent .seatSelection .seat__chart .seat__screen .app__text {
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 42%);
    font-weight: 400;
    font-size: 1.2rem;
}

.seatSelectionApp .container .appContent .seatSelection .seat__chart .seat__display {
    width: 70%;
    margin: 0 auto;
    margin-top: 1rem;
}

.seatSelectionApp .container .appContent .seatSelection .seat__chart .seat__display .seat__row {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 1.1rem;
    color: #FFA33C;
}

.seatSelectionApp .container .appContent .seatSelection .seat__chart .seat__display .seat__row .seatCustom {
    background: white;
    color: white;
    width: 30px;
    height: 24px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
}

.seatSelectionApp .container .appContent .seatSelection .seat__chart .seat__display .seat__row .seatCustom.selected {
    background: #65B741;
}

.seatSelectionApp .container .appContent .seatSelection .seat__chart .seat__display .seat__row .seatCustom.reserved {
    background: #BE3144;
}

.seatSelectionApp .container .appContent .seatSelection .seat__chart .seat__display .seat__row .seatCustom.disabled {
    pointer-events: none;
}

.seatSelectionApp .container .appContent .seatSelection .seat__chart .seat__display .btnConfirm {
    margin-top: 2rem;
}

/* SEAT CONFIRM */
.seatSelectionApp .container .appContent .seatConfirm {
    padding-bottom: 3rem;
}

.seatSelectionApp .container .appContent .seatConfirm .table {
    width: 80%;
    margin: 0 auto;
}

.seatSelectionApp .container .appContent .seatConfirm .table th {
    text-transform: capitalize;
}

table, th, td {
    border: 3px solid rgba(128, 128, 128, 0.8);
    border-collapse: collapse;
}

th, td {
    background-color: white;
    color: black;
}